:root {
	--darkest-color: #1a1a23;
	--lighter-color: #636363;
	--accent-color-dark: #111;
	--accent-color-light: #999;
}

body {
	font-family: 'Georgia', serif;
	font-size: 62.5%;
	line-height: 21px;
	font-weight:400;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	color:  var(--darkest-color);
	background: #fff;
}

.coming {color: red; display: block; letter-spacing: 14px; width:85%; margin: 0 auto; text-align: center;}

p, a {
	font-size: 1.2rem; line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Verdana', sans-serif;
	color: var(--darkest-color);
	font-weight: normal;
	letter-spacing: 1px;
}

h1, .h1{font-size: 2.369rem; line-height: 120%; padding: 0; margin: 0;letter-spacing: -0.2rem; padding-bottom: .5rem; text-align: center;color: var(--darkest-color);}
h2, .h2{font-size: 1.777rem; line-height: 120%; padding: 0; margin: 0;color: var(--lighter-color);letter-spacing: -0.1rem; padding-bottom: .5rem;}
h3, .h3{font-size: 1.333rem; line-height: 120%; padding: 0; margin: 0;color: var(--lighter-color);letter-spacing: .02rem; padding-bottom: .5rem;}
h4, .h4{font-size: 1rem; line-height: 120%; padding: 0; margin: 0;letter-spacing: .04rem;color: var(--lighter-color);}
h5, .h5{font-size: .75rem; line-height: 115%; padding: 0; margin: 0; letter-spacing: .06rem;}
h6, .h6{font-size: .563rem; line-height: 115%; padding: 0; margin: 0;letter-spacing: .08rem;}

.center {text-align: center;}

a {
	color:  var(--accent-color-dark);
	text-decoration:none;
	font-weight: normal;
	font-family: 'Verdana', sans-serif;
}

a:hover {text-decoration:underline; color: var(--accent-color-light)}

/*PAGE ELEMENTS */

#logo {
	width: 100%;
}

#logo > a > img {
	width: 85%;
	height: auto;
	display: block;
	margin: 0 auto;
}


.content {
	margin:0 auto;
	width:90%;
	-webkit-font-smoothing:antialiased;
}


#arrow_left, #arrow_right {
display: none;
}

.main-nav{ position: relative; display: inline-block; width: 100%;}
.main-nav ul {width: 86%;
padding: 0;
    padding-top: 0px;
display: block;
margin: 0 auto;
padding-top: .5rem;}
.main-nav ul li {list-style-type: none; float: left; padding: 0 .5em; }
.main-nav ul li::after { content: "|"; padding: 0 .01rem 0 .4rem; font-size: 1rem;}
.main-nav ul li a {font-size: 1rem; line-height: 115%;}
.main-nav ul li a.active {color: var(--accent-color-light); font-size: 1rem; line-height: 115%;}


hr {margin: 1rem 0;  border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);}





@media (min-width: 600px) {

body {
	font-size: 62.5%;
	line-height: 21px;
}

p, a {
	font-size: 1.4rem; line-height: 2.1rem;
}

h1, .h1{font-size: 3.157rem; line-height: 120%; padding: 0; margin: 0;letter-spacing: -0.4rem; text-align: left;}
h2, .h2{font-size: 2.369rem; line-height: 120%; padding: 0; margin: 0;color: var(--lighter-color);letter-spacing: -0.2rem;}
h3, .h3{font-size: 1.777rem; line-height: 120%; padding: 0; margin: 0;color: var(--lighter-color);letter-spacing: -0.1rem;}
h4, .h4{font-size: 1.333rem; line-height: 120%; padding: 0; margin: 0;letter-spacing: .02rem; color: var(--lighter-color);}
h5, .h5{font-size: 1rem; line-height: 115%; padding: 0; margin: 0; letter-spacing: .04rem;}
h6, .h6{font-size: .75rem; line-height: 115%; padding: 0; margin: 0;letter-spacing: .06rem;}

hr { display: none; }

#maximage {
	display:none;
	position:fixed !important;
}

.gradient {
	left:0;
	height:100%;
	position:absolute;
	top:0;
	width:100%;
/*	z-index:999;*/
}

.show{display: block;}
.hide{opacity: 0;}


/* Set Page Elements
*/
.content {
	float:left;
	margin:40px;
	position:absolute;
	top:180px;
	width:90%;
/*	z-index:9999;*/
	max-width: 800px;
}


#logo {
	top:40px;
	height:auto;
	left:50px;
	position:absolute;
	width:20%;
/*	z-index:1000;*/
}

.main-nav{
	position:absolute;
	bottom: 23px;
	left:50px;
	z-index:1001;
	display: block;
	width:80%;
}
.main-nav ul li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid var(--accent-color-light);
}
.main-nav ul li a.active {color: var(--accent-color-light);}


#arrow_left, #arrow_right {
	bottom:30px;
	height:42px;
	position:absolute;
	right:40px;
	width:42px;
/*	z-index:1000;*/
	display: block;
}
#arrow_left {
	right:95px;
}


} /*end of media query */